*{
    padding: 0;
    margin: 0;
}


.main{
    background-image: url("./assests/images/bg.jpg");
    height: 80vh;
    position: relative;
}
.box{
    height: 80vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;

}